<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Form End</title>
    <link rel="stylesheet" href="css/survey-form.css">
</head>
<body>
    <header><h1>Thank you for your time.</h1></header>
    <body>
        <p>Thank you <%= name %>  for taking the survey. This will help me improve my design in the future. Please refrain from taking this quize again if you don't have anything else to add. You'll be notified of the confirmation of your succesfull survey submision at <%= email %>. You can contact me via the email address which would be attached to the email sent to you.</p>
    </body>
    <footer>
        <p>You may visit my other websites at <a href="/">https://subhambh.jprq.com</a>.</p>
    </footer>
</body>
</html>